{% extends 'base.html' %}
{% block conteudo %}
  <section class="content">
    <link href="/static/about-us.css" rel="stylesheet" type="text/css" />
    <div class="content-about-us">
      <img class="about-us-logo" src="/static/assets/ABOUT-US-LOGO.png">
      <h1>O que é o Projeto Artio?</h1>
      <p>Projeto Artio é um desenvolvido por estudantes do IFRN campus Natal, Zona Norte. Através dele queremos criar um espaço para que você, leitor, possa aprender sobre os campos da arte e da cultura de forma divertida.
Desejamos uma boa leitura à todos!</p>
    </div>
  </section>
{% endblock %}
