{% extends 'base.html' %}

{% block conteudo %}
  <section class="title-content">
    <link href="/static/revista1.css" rel="stylesheet" type="text/css" />
    
    <h1>1ª EDIÇÃO - ARTIO|REVISTA</h1>
    <p>A primeira edição (teste, ainda) está liberada! Nós, do Projeto Artio, pedimos o seu feedback sobre suas impressões!</p>
  </section>
  <section class="leitor-revista">
    <div>
      <ul>
      <li>
        <img src="https://user-images.githubusercontent.com/108692313/177203559-08251e15-49bc-4116-8886-2c3c38db8241.png">
      </li>
      <li>
        <img src="https://user-images.githubusercontent.com/108692313/177203561-49226339-31ef-488f-99bc-e6f753e7bfa2.png">
      </li>
      <li><img src="https://user-images.githubusercontent.com/108692313/177203560-bbf06e6c-1500-4b0f-80e1-7874aa3c342e.png"</li>
    </ul>
      
    </div>  
  </section>
{% endblock %}